/* magra-regular - latin */
@font-face {
  font-family: "Magra";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/magra-v14-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/magra-v14-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/magra-v14-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/magra-v14-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/magra-v14-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/magra-v14-latin-regular.svg#Magra")
      format("svg"); /* Legacy iOS */
}
/* magra-700 - latin */
@font-face {
  font-family: "Magra";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/magra-v14-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/magra-v14-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/magra-v14-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/magra-v14-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/magra-v14-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/magra-v14-latin-700.svg#Magra")
      format("svg"); /* Legacy iOS */
}

/* aleo-300 - latin */
@font-face {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/aleo-v11-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/aleo-v11-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* aleo-300italic - latin */
@font-face {
  font-family: "Aleo";
  font-style: italic;
  font-weight: 300;
  src: local(""), url("../fonts/aleo-v11-latin-300italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/aleo-v11-latin-300italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* aleo-regular - latin */
@font-face {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/aleo-v11-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/aleo-v11-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* aleo-italic - latin */
@font-face {
  font-family: "Aleo";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../fonts/aleo-v11-latin-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/aleo-v11-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* aleo-700 - latin */
@font-face {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/aleo-v11-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/aleo-v11-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* aleo-700italic - latin */
@font-face {
  font-family: "Aleo";
  font-style: italic;
  font-weight: 700;
  src: local(""), url("../fonts/aleo-v11-latin-700italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/aleo-v11-latin-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* red-hat-text-regular - latin */
@font-face {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/red-hat-text-v11-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/red-hat-text-v11-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/red-hat-text-v11-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/red-hat-text-v11-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/red-hat-text-v11-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/red-hat-text-v11-latin-regular.svg#RedHatText")
      format("svg"); /* Legacy iOS */
}
/* red-hat-text-500 - latin */
@font-face {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/red-hat-text-v11-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/red-hat-text-v11-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/red-hat-text-v11-latin-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/red-hat-text-v11-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/red-hat-text-v11-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/red-hat-text-v11-latin-500.svg#RedHatText") format("svg"); /* Legacy iOS */
}

html {
  box-sizing: border-box; /* Модель расчета блока с паддингами внутрь блока*/
  scroll-behavior: smooth; /* плавная прокрутка по якорям */
}
*,
*::before,
*::after {
  /* применение модели  */
  box-sizing: inherit;
}

body {
  font-family: "Aleo";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #0d606f;
  margin: 0;
}

/* Header styles start */

.header {
  position: relative;
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  height: 90px;
}

.wrapper {
  max-width: 1177px;
  margin: 0 auto; /* выравнивает контейнер по центру внутри родителя */
}

.header_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

.header_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding-left: 0px;
  margin-top: 17px;
  gap: 25px;
  margin-right: 20px;
}

.header_travel-portal {
  font-family: "Magra";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;

  color: #ffffff;
}

.header_item {
  list-style-type: none; /* убирает маркеры списка */
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none; /* убрать нижнее подчеркивание ссылок */
  color: #ffffff;
}

.header_link {
  width: 98px;
  height: 21px;

  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none; /* убрать нижнее подчеркивание ссылок */
  opacity: 1;
  color: #ffffff;
}
.header_link:hover,
.header_link:focus,
.header_link:active {
  opacity: 0.75; /* стилизация для ссылок */
  z-index: 5;
}

.buttonlogin {
  justify-content: center;
  align-items: center;
  margin-right: -40px;

  width: 103px;
  height: 41px;

  background: #0d606f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: 0px;

  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  color: #ffffff;
}

.buttonlogin:hover,
.buttonlogin:focus,
.buttonlogin:active {
  background: #0a4e5a; /* стилизация для кнопки */
}

/* Header styles end */

/* preview styles start */

.intro {
  margin-top: -90px;
  padding-top: 55px;
  height: 100vh;
  background: url(/img/garrett-parker-DlkF4-dbCOU-unsplash1.jpg) no-repeat
    center;
  background-size: cover; /* покрывать блок при любых его размерах */
}

.intro_title {
  max-width: 892px;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  margin-bottom: 30px;

  color: #ffffff;
}

.intro_subtitle {
  margin: 0px;
  font-family: "Aleo";
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 46px;

  color: #ffffff;
}

.search-form_info {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  align-items: center;
}

.search-form_field {
  padding-left: 41px;
  width: 892px;
  height: 95px;
  font-family: "Aleo";
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f2785c;
  opacity: 0.7;
  border-radius: 16px;
  border: 0px;
}

.search-form_field::placeholder {
  color: #f2785c;
}

.search-form_submit {
  margin-left: -250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 228px;
  height: 59px;
  background: #0d606f;
  border-radius: 10px;
  border: 0px;

  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height */

  color: #ffffff;
  z-index: 1; /* поднимает кнопку над полем */
}

.search-form_submit:hover,
.search-form_submit:focus,
.search-form_submit:active {
  background: #0a4e5a; /* стилизация для кнопки */
}

/* preview styles end */

/* steps styles start */

.threesteps {
  margin-top: 100px;
  margin-left: 20px;
}

.steps {
  display: flex;
  width: 1177px;
  height: 247px;
  /*   border: 1px solid rgb(255, 0, 0); */
}

h2 {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  /*   border: 1px solid rgb(255, 0, 0); */
  color: #f2785c;
  text-align: center;
}

.vectorbutton {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #f2785c;
  border-radius: 16px;
}

.vector1 {
  width: 1190px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
  /*   margin-bottom: 0px; */

  background: #ffffff;
}

.vector2 {
  width: 1250px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*   margin-top: 40px; */
  margin-bottom: 60px;

  background: #ffffff;
}

.subtitleh5 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.h5button {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  color: #0d606f;
}

/* steps styles end */

/* popular styles start */

.wrapper_popdest {
  max-width: 1420px;
  margin: 0 auto; /* выравнивает контейнер по центру внутри родителя */
}

.popdest {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin-top: 45px;
/*   margin-left: 10px; */
  gap: 60px;
  min-width: 100%;
  overflow: hidden;
}

/* Bottom left text */
.popdest .bottom-left_japan {
  position: absolute;
  margin-left: -660px;
  margin-bottom: -685px;


  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;

  color: #ffffff;
}

.popdest .bottom-left_usa {
  position: absolute;
  margin-left: 1020px;
  margin-bottom: -685px;


  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;

  color: #ffffff;
}

.points {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 40px;
}

.arrow_button_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin-top: 40px;
  gap: 60px;
  min-width: 100%;
  overflow: hidden;
}

.arrow_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  gap: 10px;
  width: 228px;
  height: 59px;

  background: #0d606f;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: 0px;

  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}
.arrow_button:hover,
.arrow_button:focus,
.arrow_button:active {
  background: #0a4e5a; /* стилизация для кнопки */
}

/* popular styles end */

/* travel_stories styles start */

.stories {
  max-width: 1177;
}

.stories_background {
  width: 100%;
  height: 1331px;
  background: url(/img/Rectangle33.jpg) no-repeat center;
  background-size: cover; /* покрывать блок при любых его размерах */
  margin-top: 173px;
  z-index: -1;
}

.stories_background_white {
  width: 100%;
  height: 1270px;
  left: 0px;
  top: 2404px;

  background: rgba(255, 255, 255, 0.7);
}

.story_wrapper {
  max-width: 1177;
  margin: 0 auto; /* выравнивает контейнер по центру внутри родителя */

  margin-top: -1501px;
}

.story_header2 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.story_line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;

  width: 1200px;
  height: 250px;

  margin: 0px;
  margin-bottom: 30px;
  margin-left: 110px;
}

.story_article {
  z-index: 1;
}

.story_img {
  filter: drop-shadow(0px 4px 4px #0d606f);
  border-radius: 16px;
}

.story_header3 {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  /* identical to box height */
  margin: 0px;
  margin-top: -17px;
  margin-bottom: 20px;
  color: #0d606f;
}

.story_discription {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 0px;

  color: #0d606f;
}

.story_link_readmore {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #0d606f;
}
.story_link_readmore:hover,
.story_link_readmore:focus,
.story_link_readmore:active {
  color: #0da9c5; /* стилизация для ссылки */
}

/* travel_stories styles end */

/* footer styles start */

.footer_wrapper {
  max-width: 1177px;
  margin: 0 auto; /* выравнивает контейнер по центру внутри родителя */
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  /*   margin-right: 70px; */
  justify-content: space-between;
  align-items: center;
}

.rights {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;

  color: #ffffff;
}

.social {
  /*   margin-right: 23px; */
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.social_link:hover,
.social_link:focus,
.social_link:active {
  transition: 1s; /* Время анимации */
}
.social_link:hover {
  z-index: 10; /* Поверх всех картинок */
  transform: scale(1.3); /* Масштабирование */
}

/* footer styles end */
